.content {
    -fx-background-color: #242e41;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #ffbfbf;
    -fx-text-fill: #b30000;
}

.jfx-rippler {
    -jfx-rippler-fill: #b30000;
}

.combo-box {
    -fx-background-color: #242e41;
}

/* TAB */
.tab {
    -fx-pref-height: 3.5em;
    -fx-background-color: red;
    -fx-text-fill: white;
}

jfx-tab-pane {
    -fx-text-fill: white;
}

.tab-header-background {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.tab-selected-line {
    -fx-background-color: #ff8080;
    -fx-pref-height: 0.25em;
}

.text-field, .password-field {
    -fx-text-fill: #ffbfbf;
}