.content {
    -fx-background-color: #242e41;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #ffbfbf;
    -fx-text-fill: #b30000;
}

.jfx-rippler {
    -jfx-rippler-fill: #ff8080;
}