.chart {
    -fx-padding: 10px;
}

.chart-content {
    -fx-padding: 30px;
}

.chart-title {
    -fx-text-fill: white;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: white;
}

.chart-legend {
    -fx-background-color: white;
    -fx-padding: 20px;
}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
}

.chart-legend-item {
    -fx-text-fill: black;
}

.chart-plot-background {
    -fx-background-color: #e2ecfe;
}

.chart-vertical-grid-lines {
    -fx-stroke: white;
}

.chart-horizontal-grid-lines {
    -fx-stroke: white;
}

.chart-alternative-row-fill {
    -fx-fill: white;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.default-color0.chart-series-line { -fx-stroke: red; }
.default-color1.chart-series-line { -fx-stroke: #ffbfbf; }
.default-color2.chart-series-line { -fx-stroke: black; }